body {
  height: 200px;
  background: pink;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: rgb(43, 163, 61);
  position: absolute;
}

button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
