body {
  background-color: pink;
  color: darkslateblue;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  font-family: sans-serif;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position:absolute;
}

button {
  position: fixed;
  color: tomato;
  border-radius: 20px;
  border-color: tomato;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#controls {
  margin-bottom: 10px;
}
